**/__pycache__
/wandb
/layers_for_check_false
/layers_for_check
/layers_for_check_true_t=0 
/grid_images 
/envs
/user_study
/rebuttal
*.png
*.txt
*.log
!teaser.png
merging.sh
merging2.sh
merging_article.sh
merging_article_gpu1.sh
merging_article_gpu0.sh
merging_article_gpu0_a100-test.sh
merging_article_gpu1_a100-2gpu.sh
/inference_vera/facebookresearch_dinov2_main.zip
/inference_vera/ViT-B-32.pt
/inference_vera/facebookresearch_dinov2_main
/inference_vera/__MACOSX
rebuttal_merging_cat.sh
rebuttal_merging_cat2.sh
rebuttal_merging_dog.sh
rebuttal_merging_dog2.sh
rebuttal_merging_dog3.sh
rebuttal_merging_dog3_2.sh
rebuttal_merging_dog6.sh
rebuttal_merging_style_01_01.sh

fast_inference_merge_sdxl_gpu1.sh
fast_inference_merge_sdxl_gpu2.sh
fast_inference_merge_sdxl_gpu3.sh
/xet
/hub
train_my.sh
train_style_my.sh
/style
orthofuse_merging_example_my.sh